@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: -8;
    }
  }
  .animate-dash {
    animation: dash 2s linear infinite;
  }
}
